
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: all 1s
  }
  
  /* Estilos para el encabezado */
  
  header {
    background-color: #f8f8f8;
    padding: 10px 0;
    text-align: center;
  }
  
  h1 {
    font-size: 3.5em;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: #e74c3c dotted 3px;
    margin: 0; /* Elimina el margen superior e inferior para estar alineado verticalmente */
    background-color: #f5a8a0;
  }

  nav {
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Añade un poco de espaciado al nav */
  }

  nav ul {
    padding: 0;
    list-style: none; /* Elimina los puntos de la lista */
    display: flex; /* Usa flexbox para alinear los elementos en la misma línea */
  }

  nav li {
    transition: 1s;
    padding: 15px;
    margin-right: 25px;
    border: #e74c3c solid;
    background-color: white;
  }

  nav li:hover{
    background-color: #f5a8a0;
  }

  nav img{
    width: 30%;
    display: block; /* Cambia la imagen a bloque para que ocupe el ancho del contenedor */
    max-width: 100%; /* Asegura que la imagen no exceda el ancho del enlace */
    height: auto; /* Mantiene la proporción de la imagen */
  }
  
  /* Estilos para la sección principal */

  .titulo{
    text-align: center;
    background-color: #e74c3c;
    color: white;
    padding: 0px;
    font-size: 1.8em;
  }
  
  main {
    padding: 20px;
    width: 70%; /* El contenido principal ocupa el 70% del ancho */
    float: left;
    box-sizing: border-box; /* Incluye el padding en el ancho total */
  }

  main img{
    width: 450px;
  }
 
  section {
    display: flex;  /* crea las cajas adaptables donde estan los articulos */
    flex-wrap: wrap; /* Asegura que los artículos se envuelvan cuando el ancho es insuficiente */
    justify-content: space-between; /* espacio uniforme entre elementos */
    align-items: stretch; /* Stretch para estirar los elementos en altura */
  }
  
   article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1; /* los elementos pueden crecer y contraerse con facilidad */
    padding: 20px;
    text-align: center;
    background-color: #f8f8f8;
    margin: 10px;
    border-radius: 8px;
    transition: 1s;
  }

  #iframeContenedorInterno {
    position: relative;
    width: 80%; /* Ancho del contenedor interno */
    padding-bottom: 56.25%;
    margin: 20px auto; /* Centrar  y agregar espacio de 20px alrededor del video */
    align-items: center; 
  }

  #iframeContenedorInterno iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  h3 {
    font-size: 1.5em;
    margin-top: 0;
    color: grey;
    padding-top: 5px;
  }

  main h3{
    color: #e74c3c;
  }

  .titulo{
    text-align: center;
    background-color: #e74c3c;
    color: white;
    padding: 0px;
    font-size: 1.8em;
  }

  .tipoPlatos{
    background-color: #f5a8a0;
    color: white;
    font-size: 1.15em;
    padding-left: 10px;
  }

  .info1 {
    flex: 100%; /* Hace que el artículo ocupe todo el ancho sin encogerse ni crecer */
    text-align: left;
    padding-top: 0;
}

  .info1:hover{
    background-color: #f8f8f8;
    color: black;
    cursor: auto;
  }

  .info1 h2{
    text-align: center;
    font-size: 1.8em;
    color: #e74c3c;
  }

  form{
    background-color: #f8f8f8;
    padding: 15px;
  }

  form div{
    font-family:sans-serif;
    padding: 10px;
  }
  .formulario{
    border-radius: 8px;
  }

  #aclaracion{
    color: rgb(152, 147, 147);
  }

  #listadoDelPedido{
    flex: 1;
    padding: 20px;
    text-align: center;
    background-color: #f8f8f8;
    margin: 10px;
    border-radius: 8px;
    clear: both; /* Limpia el float */
  }

  #textoDorado{
    color: rgb(242, 169, 81);
  }

  #metodoDePago{
    flex: 1;
    padding: 20px;
    background-color: #f8f8f8;
    margin: 10px;
    border-radius: 8px;
    clear: both; /* Limpia el float */
  }

  #metodoDePago h3{
    text-align: center;
  }

  #datosEnvio{
    flex: 1;
    padding: 20px;
    background-color: #f8f8f8;
    margin: 10px;
    border-radius: 8px;
    clear: both; /* Limpia el float */
  }

  #datosEnvio h3{
    text-align: center;
  }

  h4{
    font-size: 1.5em;
    margin-top: 0;
    color: grey;
    padding-top: 5px;
  }

  .noDisponible{
    font-size: 1.5em;
    color: white;
  }
  
  #textoIndicacionesFormulario{
    text-align: center;
    color: rgb(242, 169, 81);
    background-color: #f8f8f8;
    padding: 15px;
    border-radius: 8px;
  }

  #textoAgradecimiento{
    text-align: center;
    color: rgb(242, 169, 81);
    background-color: #f8f8f8;
    padding: 15px;
    border-radius: 8px;
  }

  #imgGracias{
    width: 100%;
    height: auto;
  }

  /*---------------------IMAGENES DINAMICAS-----------------------*/

  .dinamicas {
    display: flex;
    flex-direction: row;
}
  .imgPlatos {
    justify-content: center;
}

.imgPlatos .divInterior {
    display: flex;
    width: 100%;
    height: 400px;
}

.imgPlatos .divInterior img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 12;
    filter: grayscale(90%);
    transition: 0.5s ease;
}

.imgPlatos .divInterior img:hover {
    cursor: pointer;
    width: 20%;
    opacity: 1;
    filter: contrast(110%);
}

#Efectivo:hover{
  background-color: rgb(127, 255, 174);
}


  /*------------------------------------------------------------------*/


  /* Estilos para la barra lateral */
  
  aside {
    width: 30%;
    background-color: white;
    padding-top: 18px;
    float: left;
    box-sizing: border-box; /* Incluye el padding en el ancho total */
    margin-top: 12px;
  }

  aside div{
    margin-bottom: 20px;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
  }
   
  aside h2 {
    font-size: 1.8em;
    color: #e74c3c;
    text-align: center;
  }

  aside h3{
    text-align: center;
  }

  aside img{
    width: 50%;
  }

  #asidePegado{
    width: 30%;
    background-color: white;
    padding: 20px;
    position: fixed;
    right: 0;
    box-sizing: border-box; /* Incluye el padding en el ancho total */
    overflow-y: scroll; /* muestra una barra de desplazamiento vertical */
    max-height: 80vh; /* como se le añaden elementos dinamicamente y crece, 
    hay que ponerle una altura maxima, de esta forma ya podemos desplazarnos 
    por la barra vertical */
  }

  #cestaAside{
    width: 30%;
  }

  .spanCreadoConJS button{
    margin: 5px;
  }

  .botonPedido{
    padding: 5px;
  }

  #enviar{
    padding: 12px;
    padding-left: 60px;
    padding-right: 60px;
    border: #333 solid;
  }

  #textoCesta{
    text-align: center;
    color: rgb(242, 169, 81);
  }

  
  /* Estilos para el pie de página */
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
  }
  
  /* Estilos para imágenes */
  
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
  
  /* Estilos para el clearfix */
  
  .clearfix::after {
    /* ::after indica que contenido que se agrega despues, en este caso de .clearfix */
    content: "";
    display: table;
    clear: both;
  }
  
  /* Estilos para la respuesta al hover */
  
  article:hover {
    background-color: #f5a8a0;
    color: white;
    cursor: pointer;
  }
  
  /* Estilos para enlaces en el pie de página */
  
  footer a {
    color: #e74c3c;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
